.pet-container{
  display: flex;
  border: #b9442c;
  border-style: solid;
  margin: 5px;
  flex: 1;
  color: #174F78;
}

.pet-info-container{
  padding: 5px;
  flex: 1;
  height: 200px;
  margin-left: 10px;
}

.pet-info-container select {
  background-color: #E56C55;
  color: white;
  margin-right: 5px;
  height: 25px;
}

.pet-info-container select:hover {
  background-color: #b9442c;
}

.pet-info-container button {
  background-color: #E56C55;
  color: white;
  height: 25px;
}

.pet-info-container button:hover {
  background-color: #b9442c;
}

.pet-name {
  margin-top: 0px;
}


.pet-image-container {
  height: 200px
}

.pet-image-container img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.pet-attributes{
  display: flex;
  flex-direction: row;
}
.pet-attribute{
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}