.user-pets {
  display: flex;
  margin: 20px auto 20px auto;
  align-items: center;
  flex-direction: column;
} 

.profile-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
}