* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .nav {
    background-color: #E56C55;
  }
  
  .nav-container {
    max-width: 1000px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
  }
  
  .site-title {
    font-size: 3rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .75rem;
    font-size: 2rem;
  }
  
  .nav li.active {
    background-color: #b9442c;
    transition: all 700ms ease-in-out;
  }
  
  .nav li:hover {
    background-color: #b9442c;
    transition: all 700ms ease-in-out;
  }