.profile {
    padding-left: 1rem;
}

.profile-title, .your-pets-title {
    color: #11354e;
}

.profile-title {
    font-size: 2.5rem;
}

.your-pets-title {
    font-size: 2rem;
}

.usernames {
    font-size: 2.2rem;
    
    vertical-align: middle;
}

.usernames, .profile-photo, .email, .postcode, .no-pets, .pets {
    color: #174F78;
}

.profile-photo {
    font-size: 5rem;
}

.email, .postcode, .pets {
    font-size: 1.5rem;
}

.no-pets {
    font-size: 1.2rem;
}

span {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }
  
  span:hover {
    transform: translateY(-5px);
  }