.profile {
    padding-left: 1rem;
}

.profile-title, .your-pets-title, .requested-playdates-title, .received-playdates-title, .matched-pets-title {
    color: #11354e;
}

.pet-name {
    font-style: bold;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin: 0 0 10px 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin: 0.4em 0 0.4em 0;
    font-weight: bold;
}

p {
    display: block;
    margin: 0px;
}

.pet-info-container {
    padding: 10px 0 10px 0;
    display: inline-flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-evenly;
}

.pet-attributes {
    gap: 0 20px;
}

.playdate-div {
    font-size: 1.2em;
}

.profile-links {
    margin-top: 10px;
    display: flex;
    gap: 0 10px;
}

.profile-links > a {
    background-color: #E56C55;
    color: white;
    padding:2px;
    text-decoration: none;
}

.profile-links > a:hover {
    background-color: #b9442c;
}

.pets{
    display: ;
}

.profile-title {
    font-size: 2.5rem;
}

.your-pets-title {
    font-size: 2rem;
}

.usernames {
    font-size: 2.2rem;
    
    vertical-align: middle;
}

.usernames, .profile-photo, .email, .postcode, .no-pets, .pet-info, .requestedPlaydates, .recievedPlaydates {
    color: #174F78;
}

.profile-photo {
    font-size: 5rem;
}

.email, .postcode, .pets {
    font-size: 1.5rem;
}

.no-pets {
    font-size: 1.2rem;
}

span {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }
  
  span:hover {
    transform: translateY(-5px);
  }

.request-buttons {
    background-color: #E56C55;
    color: white;
    height: 25px;
    margin: 0 5px;
}

.request-buttons:hover {
    background-color: #b9442c;
}